---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Sacramento&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.01
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Sacramento",
                       "short_name" : "Sacramento",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Sacramento County",
                       "short_name" : "Sacramento County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "California",
                       "short_name" : "CA",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Sacramento, CA, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 38.685507,
                          "lng" : -121.325705
                       },
                       "southwest" : {
                          "lat" : 38.437574,
                          "lng" : -121.56012
                       }
                    },
                    "location" : {
                       "lat" : 38.5815719,
                       "lng" : -121.4943996
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 38.685507,
                          "lng" : -121.325705
                       },
                       "southwest" : {
                          "lat" : 38.437574,
                          "lng" : -121.56012
                       }
                    }
                 },
                 "types" : [ "locality", "political" ]
              },
              {
                 "address_components" : [
               [...]
